.contenidorprincipal {
    display: flex;
    flex-flow: row wrap
    justify-content:center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 300px;
    border: 10px;
    padding: 30px;
    background-color: skyblue;
    
}

.contenidor1 {
flex-grow: 2;
border: 2px solid;

}

.contenidor2{
flex-grow: 2;
border: 2px solid;
}

.contenidor3 {
    flex-shrink: 2;
    border: 2px solid;
}

.contenidor4 {
    flex-shrink: 2;
    border: 2px solid;
}