* {
    padding: 10px;
    padding: 10px;
    box-sizing: border-box;
   
}

.principal {
    max-width: 1200px;
}

.header {
    background:
}

.capçalera {

}

.menu {

}

.logo {

}

.navegacio {

}

.social {

}

.banner {

}

section {

}

.articles {

}

.item {

}

.articlesaside {

}

.peu {
}

.opcionspeu {
    
}

.tips {

}
