P {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: normal;
font-size: small;
align-items: center;
margin: 5px;    
}

ul {
    width: 200px;
    height: 30px;
    background-color: gray;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 3px

    }