* {
    align-items: center;
}

.quadrat {
    align-items: center;
    width: 400px;
    height: 150px;
    background-color: green;
    border: 10px dotted;
    border-color: burlywood


}

p {
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: cornflowerblue;
    text-transform: uppercase;
}